<style>
    legend {
        text-align: center;
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
        color: brown;
    }

    .search_btn {
        color: rgb(255, 255, 255);
        background-color: #940031;

    }

    .search_btn:hover {
        color: #940031;
        background-color: white;
    }

    .btn-primary {
        color: rgb(255, 255, 255);
        background-color: #940031;

    }

    .btn-primary:hover {
        color: #940031;
        background-color: white;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    select:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .username {
        text-decoration: none;
    }

    .username:hover {
        text-decoration: underline black;
    }

    .timeline {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative
    }

    .timeline:before {
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        width: 5px;
        background: #2d353c;
        left: 20%;
        margin-left: -2.5px
    }

    .timeline>li {
        position: relative;
        min-height: 50px;
        padding: 20px 0
    }

    .timeline .timeline-time {
        position: absolute;
        left: 0;
        width: 18%;
        text-align: right;
        top: 30px
    }

    .timeline .timeline-time .date,
    .timeline .timeline-time .time {
        display: block;
        font-weight: 600
    }

    .timeline .timeline-time .date {
        line-height: 16px;
        font-size: 12px
    }

    .timeline .timeline-time .time {
        line-height: 24px;
        font-size: 20px;
        color: #242a30
    }

    .timeline .timeline-icon {
        left: 15%;
        position: absolute;
        width: 10%;
        text-align: center;
        top: 40px
    }

    .timeline .timeline-icon a {
        text-decoration: none;
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 20px;
        background: #d9e0e7;
        line-height: 10px;
        color: #fff;
        font-size: 14px;
        border: 5px solid #2d353c;
        transition: border-color .2s linear
    }

    .timeline .timeline-body {
        margin-left: 23%;
        margin-right: 17%;
        background: #fff;
        position: relative;
        padding: 20px 25px;
        border-radius: 6px
    }

    .timeline .timeline-body:before {
        content: '';
        display: block;
        position: absolute;
        border: 10px solid transparent;
        border-right-color: #fff;
        left: -20px;
        top: 20px
    }

    .timeline .timeline-body>div+div {
        margin-top: 15px
    }

    .timeline .timeline-body>div+div:last-child {
        margin-bottom: -20px;
        padding-bottom: 20px;
        border-radius: 0 0 6px 6px
    }

    .timeline-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #e2e7eb;
        line-height: 30px
    }

    .timeline-header .userimage {
        float: left;
        width: 34px;
        height: 34px;
        border-radius: 40px;
        overflow: hidden;
        margin: -2px 10px -2px 0
    }

    .timeline-header .username {
        font-size: 16px;
        font-weight: 600
    }

    .timeline-header .username,
    .timeline-header .username a {
        color: #2d353c
    }

    .timeline img {
        max-width: 100%;
        display: block
    }

    .timeline-content {
        letter-spacing: .25px;
        line-height: 18px;
        font-size: 13px
    }

    .timeline-content:after,
    .timeline-content:before {
        content: '';
        display: table;
        clear: both
    }

    .timeline-title {
        margin-top: 0
    }

    .timeline-footer {
        background: #fff;
        border-top: 1px solid #e2e7ec;
        padding-top: 15px
    }

    .timeline-footer a:not(.btn) {
        color: #575d63
    }

    .timeline-footer a:not(.btn):focus,
    .timeline-footer a:not(.btn):hover {
        color: #2d353c
    }

    .timeline-likes {
        color: #6d767f;
        font-weight: 600;
        font-size: 12px
    }

    .timeline-likes .stats-right {
        float: right
    }

    .timeline-likes .stats-total {
        display: inline-block;
        line-height: 20px
    }

    .timeline-likes .stats-icon {
        float: left;
        margin-right: 5px;
        font-size: 9px
    }

    .timeline-likes .stats-icon+.stats-icon {
        margin-left: -2px
    }

    .timeline-likes .stats-text {
        line-height: 20px
    }

    .timeline-likes .stats-text+.stats-text {
        margin-left: 15px
    }

    .timeline-comment-box {
        background: #f2f3f4;
        margin-left: -25px;
        margin-right: -25px;
        padding: 20px 25px
    }

    .timeline-comment-box .user {
        float: left;
        width: 34px;
        height: 34px;
        overflow: hidden;
        border-radius: 30px
    }

    .timeline-comment-box .user img {
        max-width: 100%;
        max-height: 100%
    }

    .timeline-comment-box .user+.input {
        margin-left: 44px
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <h2
            style="margin-left: 300px; margin-bottom: 30px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
            <%= title%>
        </h2>
        <div class="col-md-12">
            <div class="row">
                <div id="content" class="content col-12">
                    <div class="tab-pane fade active show" id="profile-post">
                        <div class="inline-block">
                            <% if (user2.role == 'provost') { %>
                                <a href="/api/application/all_forwarded" class="btn btn-primary mb-2 float-right">
                                Forwarded Applications</a>
                            <% } else if (user2.role == 'staff') { %>
                                <a href="/api/application/all_submitted" class="btn btn-primary mb-2 float-right">
                                Submitted Applications</a>
                            <% } %>
                            <a href="/api/application/all_call_for_viva" class="btn btn-primary mb-2 float-right" style="margin-right: 20px;">
                                Call For Viva Application</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Student ID</th>
                                    <th scope="col">Application</th>
                                    <th scope="col">Time Stamp</th>
                                    <% if (user2.role == 'staff') { %>
                                    <th scope="col">Action</th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (application of applications) { %>
                                    <tr>
                                        <th scope="row">
                                            <%= application.student_id %>
                                        </th>
                                        <td><a href="<%- application.application_pdf%>" download>
                                                <%= application.application_pdf %>
                                            </a></td>
                                        <td>
                                            <%= application.submission_time %>
                                        </td>
                                        <% if (user2.role == 'staff') { %>
                                        <td>
                                            <form method="get" action="/api/room/unallocated">
                                                    <input type="hidden" name="student_id" value="<%= application.student_id %>">
                                                    <button type="submit" class="btn btn-primary">Allocate Room</button>
                                            </form>
                                        </td>
                                        <% } %>
                                    </tr>
                                    <% }%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>